<% Object.keys(dataProfile).slice(1).forEach((key) => { %>
  <div class="row">
    <div class="col-md-4">
        <label><%= capitalize(key) %></label> <!-- instructor.key -->
    </div>
    <div class="col-md-8">
        <p><%= dataProfile[key] %></p> <!-- instructor.username -->
    </div>
  </div>
<% }) %>