<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mpu Koding</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style>
    .body {
      height: 100vh;
    }
    .main {
      padding-top: 100px;
    }
    .card-img-top {
      height: 200px;
    }
  </style>
</head>
<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .main {
    height: 100%;
  }
</style>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class='main'>
    <div class='col-md-8 justify-item-center container text-center'>
      <div class='my-5' id='cerita'>
        <h3>Kami yang terbaik</h4>
        <h5>Berdiri sejak 2012, kami menghadirkan sebuah platform yang mempertemukan antara master koding atau Mpu Jaman Millenial, dengan para milenial yang ingin belajar tentang software engineer atau menjadi seorang developer secara privat. Para Mpu yang ada di platform ini memiliki pengalaman minimal 10 tahun, lebih dari 1000 Mpu yang dapat kamu pilih.</h5>
      </div>
      <div class='my-5' id='founder'>
        <h3>Para Founder Mpu Koding</h3>
        <div class='row'>
          <div class="card container" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class='card-title'>Founder</p>
              <p class='card-text'>Jays</p>
            </div>
          </div>
          <div class="card container" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class='card-title'>Founder</p>
              <p class='card-text'>Robby Caesar Putra</p>
            </div>
          </div>
        </div>
      </div>
      <div id='contactUs'>
        <p>Email : admin@mpu.com</p>
        <p>Phone : 02123456</p>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>