<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  label {
    display: block;
    margin: 10px auto;
  }
  form {
    text-align: center;
  }
  .form {
    margin: 120px auto;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .submitForm {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .tag{
    display: flex;
    flex-direction: column;
  }
  .checkboxTag {
    display: flex;
  }

  button[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.267);
  }
</style>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="form">
    <form action="/student/register" method="POST" >
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="username" required>
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="email" required>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password" required>
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Nama lengkap" required>
      <label for="birthday">Birthday</label>
      <input type="date" name="birthday">
      <label for="motivation">Motivation</label>
      <input style="height:150px; width: 300px;" type="text" name="motivation" placeholder="Motivasi belajarmu">
      <p>Mata pelajaran: </p>
      <div class="tag">
        <% tags.forEach(tag => { %>
          <div class="checkboxtag">
            <input type="checkbox" name="tag" value="<%= tag.id %>"> <%= tag.name %>
          </div>
        <% }) %>
      </div>
      <button class="submitForm" type="submit">Daftar</button>
    </form>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>